albucore @ file:///home/conda/feedstock_root/build_artifacts/albucore_1736621936228/work
albumentations @ file:///home/conda/feedstock_root/build_artifacts/albumentations_1740790293257/work
huggingface-hub==0.30.2
imageio==2.37.0
lightning @ file:///home/conda/feedstock_root/build_artifacts/lightning_1742437252389/work
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1743734367405/work
lmdb==1.6.2
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1742254787379/work/dist/numpy-2.2.4-cp313-cp313-linux_x86_64.whl#sha256=f76ad032934da2c4719e50abb4142164ac1b039dc18f5fc412a5048a8bade5ae
opencv-python==4.11.0
opencv-python-headless==4.11.0
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1735929688808/work
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1742579345300/work
safetensors==0.5.3
setuptools==75.8.2
torch @ file:///home/conda/feedstock_root/build_artifacts/libtorch_1742922447420/work
torchinfo @ file:///home/conda/feedstock_root/build_artifacts/torchinfo_1735141362764/work
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1744107217838/work
torchvision @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_torchvision_1742619140/work
torchvision-extra-decoders @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_torchvision-extra-decoders_1739805875/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformer-lens==2.15.0
transformers==4.51.3
transformers-stream-generator==0.0.5
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1743626797783/work
