albucore==0.0.24
albumentations==2.0.8
aiohappyeyeballs==2.6.1
docker-pycreds==0.4.0
einops==0.8.1
fsspec==2025.3.2
GitPython==3.1.44
huggingface-hub==0.31.4
lightning==2.5.1.post0
lightning-utilities==0.14.3
opencv-python-headless==4.11.0.86
pandas==2.2.3
pillow==11.2.1
propcache==0.3.1
protobuf==6.31.0
pydantic==2.11.4
pytorch-lightning==2.5.1.post0
scikit-learn==1.6.1
scipy==1.15.3
safetensors==0.5.3
simsimd==6.2.1
stringzilla==3.12.5
sympy==1.14.0
tokenizers==0.21.1
torch==2.7.0
torchinfo==1.8.0
torchmetrics==1.7.1
torchvision==0.22.0
transformers==4.51.3
triton==3.3.0
wandb==0.19.11